body {
  background-color: #000000
    font-family: 'Zen Dots', cursive
    
    
}

.content {
  background-color: #323232;
  color: #ffffff; 
  width: 700px;
  margin: auto;
  padding: 25px 50px;
  border: thin solid black;
  }
